@{
    ViewData["Title"] = "Trang chủ";
}

@section Styles {
	<link href="~/css/home_1.css" rel="stylesheet">
}

@section Scripts {
	<script src="~/js/carousel-home.js"></script>
}

<main>
	<div id="carousel-home">
		<div class="owl-carousel owl-theme">
			<div class="owl-slide cover" style="background-image: url(img/slides/b1.jpg);">
				<div class="opacity-mask d-flex align-items-center" data-opacity-mask="rgba(0, 0, 0, 0.5)">
					<div class="container">
						<div class="row justify-content-center justify-content-md-end">
							<div class="col-lg-6 static">
								<div class="slide-text text-end white">
									<h2 class="owl-slide-animated owl-slide-title">Giày Chất <br>Thể Thao Vui</h2>
									<p class="owl-slide-animated owl-slide-subtitle">
										Khám Phá Không giới Hạn
									</p>
									<div class="owl-slide-animated owl-slide-cta"><a class="btn_1" href="" role="button">Xem Ngay</a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/owl-slide-->
			<div class="owl-slide cover" style="background-image: url(img/slides/b2.jpg);">
				<div class="opacity-mask d-flex align-items-center" data-opacity-mask="rgba(0, 0, 0, 0.5)">
					<div class="container">
						<div class="row justify-content-center justify-content-md-start">																	   Fsta
							<div class="col-lg-6 static">
								<div class="slide-text white">
									<h2 class="owl-slide-animated owl-slide-title">Giày Đẹp<br>Không Lo Về Giá</h2>
									<p class="owl-slide-animated owl-slide-subtitle">
										Phải Thử Ngay
									</p>
									<div class="owl-slide-animated owl-slide-cta"><a class="btn_1" href="" role="button">Xem Ngay</a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/owl-slide-->
			<div class="owl-slide cover" style="background-image: url(img/slides/b3.jpg);">
				<div class="opacity-mask d-flex align-items-center" data-opacity-mask="rgba(255, 255, 255, 0.5)">
					<div class="container">
						<div class="row justify-content-center justify-content-md-start">
							<div class="col-lg-12 static">
								<div class="slide-text text-center black">
									<h2 class="owl-slide-animated owl-slide-title">Giày Xịn<br>Thỏa Sức Rong CHơi</h2>
									<p class="owl-slide-animated owl-slide-subtitle">
										Ghé Xem Các Mẫu Giày Mới Ngay
									</p>
									<div class="owl-slide-animated owl-slide-cta"><a class="btn_1" href="" role="button">Xem Ngay</a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--/owl-slide-->
			</div>
		</div>
		<div id="icon_drag_mobile"></div>
	</div>
	<!--/carousel-->

	<ul id="banners_grid" class="clearfix">
		<li>
			<a href="#0" class="img_container">
				<img src="img/banners_cat_placeholder.jpg" data-src="img/b4.jpg" alt="" class="lazy">
				<div class="short_info opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.5)">
                    <h3>Bộ sưu tập nam</h3>
					<div><span class="btn_1">Xem Ngay</span></div>
				</div>
			</a>
		</li>
		<li>
			<a href="#0" class="img_container">
				<img src="img/banners_cat_placeholder.jpg" data-src="img/b6.jpg" alt="" class="lazy">
				<div class="short_info opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.5)">
                    <h3>Bộ sưu tập nữ</h3>
					<div><span class="btn_1">Xem Ngay</span></div>
				</div>
			</a>
		</li>
		<li>
			<a href="#0" class="img_container">
				<img src="img/banners_cat_placeholder.jpg" data-src="img/b7.jpg" alt="" class="lazy">
				<div class="short_info opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.5)">
					<h3>Bộ Sưu Tập Trẻ Em</h3>
					<div><span class="btn_1">Xem Ngay</span></div>
				</div>
			</a>
		</li>
	</ul>
	<!--/banners_grid -->

	<div class="container margin_60_35">
		<div class="main_title">
            <h2>Nổi bật</h2>
			<span>Sản Phẩm</span>
			<p>Các mẫu giày nổi bật thử xem ngay</p>
		</div>
		<div class="owl-carousel owl-theme products_carousel">
			@foreach(var p in ViewBag.Featured)
			{
				<div class="item">
					@await Component.InvokeAsync("ShoeCards", p)
				</div>
			}
		</div>
		<!-- /products_carousel -->
	</div>
	
	<!-- /container -->

	<div class="featured lazy" data-bg="url(img/b7.jpg)">
		<div class="opacity-mask d-flex align-items-center" data-opacity-mask="rgba(0, 0, 0, 0.5)">
			<div class="container margin_60">
				<div class="row justify-content-center justify-content-md-start">
					<div class="col-lg-6 wow" data-wow-offset="150">
						<h3>Giày<br>Air 1920</h3>
						<p>Sản Phẩm được Ưu Chuộng</p>
						<div class="feat_text_block">
							<div class="price_box">
								<span class="new_price">270.000Đ</span>
								<span class="old_price">170.000Đ</span>
							</div>
							<a class="btn_1" href="" role="button">Xem Ngay</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /featured -->

	<div class="container margin_60_35">
		<div class="main_title">
			<h2>Sản Phẩm Mới</h2>
			<span>Sản Phẩm</span>
			<p>Xem ngay các sản phẩm mới</p>
		</div>
		<div class="row small-gutters">
			@foreach(var p in ViewBag.NewProduct)
			{
				<div class="col-6 col-md-4 col-xl-3">
					@await Component.InvokeAsync("ShoeCards", p)
				</div>
			}
		</div>
		<!-- /row -->
	</div>
	
	<!-- /container -->
																													  

	<!-- /bg_gray -->

	<div class="container margin_60_35">

		<div class="row">
			@foreach(var item in ViewBag.SuggestPost)
			{
				<div class="col-lg-6">
					<a class="box_news" href="/blogs/@item.Slug">
						<figure>
							<img src="~/img/blogs/@item.Thumbnail.Name" alt="" width="400" height="266" class="lazy">
							<figcaption><strong>@item.CreatedAt.ToString("dd")</strong>@item.CreatedAt.ToString("MMM")</figcaption>
						</figure>
						<ul>
							<li>By @item.User.FullName</li>
							<li>@item.CreatedAt.ToString("dd/MM/yyyy")</li>
						</ul>
						<h4>@item.Name</h4>
						<p >@item.Description</p>
					</a>
				</div>
			}
			<!-- /box_news -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</main>

